img {
	width: 15%;
	height: 20%;
	position: fixed;
	margin-top: 0.75%;
	margin-left: 1%;
	border: 5px inset rgb(132, 18, 185);
	border-radius: 7%/15%;
	transition: transform .35s ease-in-out;
}
	img:hover {
		border: 5px solid rgb(171, 45, 230);
		transform: scale(1.05);
	}