a.swap-site-btn {
	/* Display */
	display: inline-block;
	width: 10%;
	position: absolute;
	margin-top: -0.5%;
	margin-left: 76.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 0.3%;
	padding-right: 0.3%;

	/* Font */
	font-size: 80%;
	font-style: italic;
	font-weight: bold;
	font-family: RockSalt;

	/* Text */
	color: rgb(61, 10, 82);
	vertical-align: middle;
	text-align: center;
	text-decoration: none;

	/* Background */
	background-color: rgb(116, 184, 196);

	/* Border */
	border: 3px outset rgb(75, 13, 100);
	border-radius: 20%/50%;

	/* Transition */
	transition: transform .35s ease-in-out;
}
	a.swap-site-btn:hover {
		/* Font & Text */
		font-style: normal;
		color: wheat;

		/* Background */
		background-color: rgb(153, 19, 19);

		/* Border */
		border: 3px solid gold;

		/* Transition */
		transform: scale(1.05);
	}