label.attribute-name {
	font-family: LuckiestGuy;
	color: rgb(86, 192, 24);
}
label.attribute-value {
	font-family: Staatliches;
	color: rgb(192, 167, 24);
}
label.stored-image-label {
	padding-left: 11%;
}

#year {
	margin-left: 0%;
	margin-right: auto;
}
#esrb {
	margin-left: auto;
	margin-right: auto;
}
div.prices {
	margin-top: -1.35%;
	margin-left: auto;
	margin-right: 0%;
}

div.covers-div {
	height: 20%;
	max-height: 20%;
}
	div.cover-item {
		display: block;
		height: 100%;
		width: 40%;
	}
		div.cover-item-left {
			margin-left: 7.5%;
			margin-right: auto;
		}
		div.cover-item-right {
			margin-left: auto;
			margin-right: 7.5%;
		}
	img.stored-image {
		border-color: rgb(221, 119, 23);
	}

div.devs {
	width: 20%;
	margin-left: 15%;
	margin-right: auto;
}
div.consoles {
	width: 30%;
	margin-left: auto;
	margin-right: 12.5%;
}
li.first-level-list {
	font-size: 120%;
	font-family: Notable;
	margin-top: 2%;
	color: rgb(188, 66, 212);
	text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
}
li.second-level-list {
	font-size: 110%;
	font-family: MuseoModerno;
	color: rgb(192, 181, 24);
	text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
}

button.full-data-stock-btn {
	color: darkslateblue;
	background-color: darksalmon;
	border: 2px outset rgb(34, 14, 109);
}
	button.full-data-stock-btn:hover, button.full-data-stock-btn:focus {
		color: rgb(212, 16, 16);
		background-color: rgb(183, 231, 71);
		border-color: rgb(192, 4, 4);
	}

a.view-related-sales {
	font-size: 200%;
	font-family: Bungee;
	color: rgb(221, 214, 115);
	background-color: darkcyan;
	border-color: rgb(221, 191, 23);
}
	a.view-related-sales:hover, a.view-related-sales:focus {
		font-size: 210%;
		color: rgb(88, 233, 233);
		background-color: rgb(113, 6, 122);
		border-color: rgb(23, 175, 221);
	}