form {
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5%;
}
div.search-div {
	width: 80%;
	margin-left: 0%;
	margin-right: auto;
}
	label.search-label {
		font-size: 150%;
		font-family: LuckiestGuy;
		color: rgb(149, 248, 103);
		text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
	}
	input {
		width: 100%;
		padding-left: 1%;
		padding-right: 1%;
		border-style: groove;
		border-radius: 1%/20%;
		border-color: gray;
		font-size: 129%;
		font-family: Staatliches;
	}
		input.default-field {
			background-color: rgb(188, 168, 221);
		}
		input.active-field {
			background-color: rgb(224, 149, 149);
			color: rgb(10, 37, 112);
		}

button.submit {
	width: 15%;
	margin-left: auto;
	margin-right: 1.75%;
	border-radius: 10%/20%;
	font-size: 150%;
	font-family: PermanentMarker;
	transition: transform .15s ease-in-out;
}
	button.enabled-submit {
		border: 5px outset rgb(23, 59, 221);
		background-color: rgb(77, 241, 159);
		color: rgb(11, 18, 122);
		cursor: pointer;
	}
		button.enabled-submit:hover, button.enabled-submit:focus {
			border-color: rgb(184, 149, 53);
			background-color: rgb(91, 23, 136);
			color: rgb(241, 229, 159);
			font-weight: bold;
			transform: scale(1.07);
		}


table {
	text-align: center;
	vertical-align: middle;
	
}
	table.main-table {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		background-color: rgb(184, 137, 20);
		border: 6px outset goldenrod;
		border-radius: 1%/2%;
	}
	table.inner-table {
		width: 100%;
		margin: 0%;
	}
	table.sub-row:hover {
		background-color: rgb(223, 151, 84);
		font-weight: bold;
	}


tr.table-header-row {
	background-color: rgb(6, 6, 92);
	font-size: 175%;
	font-family: OdibeeSans;
	color: rgb(235, 194, 59);
	text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
}

tr.table-inner-row {
	background-color: rgb(149, 215, 226);
	font-size: 110%;
	font-family: Orbitron;
	color: rgb(33, 11, 75);
	text-shadow: -1px -1px 2px rgba(115, 86, 168, 0.24), 1px -1px 2px rgba(115, 86, 168, 0.24), -1px 1px 2px rgba(115, 86, 168, 0.24), 1px 1px 2px rgba(115, 86, 168, 0.24);
}
	tr.table-inner-row:hover {
		background-color: rgb(228, 184, 144);
	}


td {
	width: auto;
}
td.table-header-cell {
	padding-top: 1%;
	padding-bottom: 1%;
}
td.game-attribute:hover {
	background-color: rgb(223, 151, 84);
	font-weight: bold;
}
td.clickable {
	cursor: pointer;
}


td.stock-value {
	display: flex;
}
	button.stock-handler {
		background: none;
		border: hidden;
		border-radius: 25%/25%;
		color: rgb(133, 25, 175);
		text-shadow: 0px 1px 3px black;
		cursor: pointer;
	}
		button.stock-handler:hover {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
		}
			button.btn-left {
				margin-left: 7.5%;
				margin-right: auto;
			}
			button.btn-right {
				margin-left: auto;
				margin-right: 7.5%;
			}
	label.stock-label {
		margin-left: auto;
		margin-right: auto;
	}
	


hr {
	margin: 0%;
}