body {
	background-image: url("../Backgrounds/Sonic UnderWater.jpg");
	font-family: ArcadeClassic;
}

img {
	width: 15%;
	height: 20%;
	position: fixed;
	margin-top: 0.75%;
	margin-left: 1%;
	border: 5px inset rgb(132, 18, 185);
	border-radius: 7%/15%;
	transition: transform .35s ease-in-out;
}
	img:hover {
		border: 5px solid rgb(171, 45, 230);
		transform: scale(1.05);
	}

form {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 2%;
	border: 5px solid rgb(221, 23, 23);
	border-radius: 7%/15%;
	animation: expandFromCenter 1500ms;
	background-color: rgba(145, 92, 57, 0.85);
	font-size: 222%;
}
	label {
		line-height: 90%;
		color: aqua;
		text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
	}

	div.form-check {
		display: inline-flex;
		width: 100%;
	}
		label.form-check-label {
			width: 63%;
			margin-top: 1%;
			margin-bottom: 1%;
		}
		input.form-check-input-admin-user {
			width: 2%;
			margin-top: 2%;
			margin-left: 0%;
			cursor: pointer;
		}
	
	input {
		width: 100%;
		border-style: groove;
		border-radius: 2%/20%;
		font-size: 150%;
		padding-bottom: 0.4%;
		font-family: OdibeeSans;
	}
		input.default-field {
			background-color: rgb(172, 172, 172);
			color: rgb(89, 87, 100);
		}
		input.active-field {
			background-color: rgb(226, 222, 162);
			color: rgb(25, 13, 99);
		}

	button {
		width: 50%;
		margin-top: 2%;
		margin-left: 25%;
		margin-right: 25%;
		font-size: 150%;
		color: rgb(56, 54, 134);
		font-family: LondrinaSolid;
		border: 5px outset rgb(23, 221, 221);
		border-radius: 2%/20%;
		background-color: rgb(215, 224, 134);
		transition: transform .15s ease-in-out;
	}
		button:hover, button:focus {
			font-weight: bold;
			color: rgb(233, 241, 159);
			border-color: rgb(116, 184, 53);
			background-color: rgb(136, 23, 23);
			transform: scale(1.07);
		}
		button:hover {
			cursor: pointer;
		}